{% load static %}
<nav class="menu-info" role="navigation" aria-label="Menu secundario">
  <ul class="menu-info-list" role="menubar">
    <li role="none" class="menu-group has-dropdown">
      <a role="menuitem" href="{% url 'reservas:index' %}" aria-haspopup="true" aria-expanded="false">Bienvenidos</a>
      <ul role="menu" class="submenu">
        <li role="none"><a role="menuitem" href="{% url 'vision' %}">Visión</a></li>
        <li role="none"><a role="menuitem" href="{% url 'mision' %}">Misión</a></li>
        <li role="none"><a role="menuitem" href="{% url 'instalaciones' %}">Instalaciones</a></li>
      </ul>
    </li>

    <li role="none"><a role="menuitem" href="{% url 'comunicados' %}">Comunicados de Gerencia</a></li>

    <li role="none" class="menu-group has-dropdown">
      <a role="menuitem" href="#" aria-haspopup="true" aria-expanded="false">Nosotros</a>
      <ul role="menu" class="submenu">
        <li role="none"><a role="menuitem" href="{% url 'junta_directiva' %}">Junta</a></li>
        <li role="none"><a role="menuitem" href="{% url 'estatutos' %}">Estatutos</a></li>
      </ul>
    </li>

    <li role="none" class="menu-group has-dropdown">
      <a role="menuitem" href="#" aria-haspopup="true" aria-expanded="false">Deportes</a>
      <ul role="menu" class="submenu">
        <li role="none"><a role="menuitem" href="{% url 'deportes_tenis' %}">Tenis</a></li>
        <li role="none"><a role="menuitem" href="{% url 'deportes_natacion' %}">Natación</a></li>
        <li role="none"><a role="menuitem" href="{% url 'deportes_futbol' %}">Fútbol</a></li>
        <li role="none"><a role="menuitem" href="{% url 'deportes_gimnasio' %}">Gimnasio</a></li>
      </ul>
    </li>

    <li role="none" class="menu-group has-dropdown">
      <a role="menuitem" href="#" aria-haspopup="true" aria-expanded="false">Gastronomía</a>
      <ul role="menu" class="submenu">
        <li role="none"><a role="menuitem" href="{% url 'gastronomia_salones' %}">Salones de eventos</a></li>
        <li role="none"><a role="menuitem" href="{% url 'gastronomia_menu' %}">Nuestro Menú</a></li>
      </ul>
    </li>
  </ul>
</nav>
