{% extends 'base.html' %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/vision.css' %}">
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/vision.js' %}"></script>
{% endblock %}

{% block content %}
<div class="vision-section-bg">
  <div class="vision-card">
    <div class="vision-ribbon">
      <img src="{% static 'img/logo.png' %}" alt="Logo Club El Meta">
      CLUB EL META
    </div>
    <div class="vision-title">Misión</div>
    <img src="{% static 'img/carru4.png' %}" alt="Misión" class="vision-img">
    <p class="vision-text">Brindar a propios y visitantes un exclusivo ambiente atendido por personal idóneo y calificado, en cómodas y bellas instalaciones, ofreciendo productos de primera línea, satisfaciendo plenamente las expectativas de excelencia, descanso y esparcimiento.</p>
  </div>
</div>
{% endblock %}
