{% extends 'base.html' %}
{% block title %}Políticas - CLUB EL META{% endblock %}

{% block content %}
<div class="container my-5">
  <h2>Condiciones para la realización de eventos</h2>

  <div class="mt-4">
    <ul>
      <li>El tiempo de servicio para el evento es el estipulado en el cuadro inicial; antes o después de este horario será bajo la disponibilidad del salón y se harán los respectivos cargos adicionales que se generen por salón y personal.</li>
      <li>Para modificaciones de servicios se debe enviar la información por escrito con mínimo 48 horas de anticipación a la realización del evento.</li>
      <li>Si por cualquier eventualidad es necesario cancelar un evento ya programado, se debe dar aviso por escrito con 48 horas de antelación al ingreso del grupo. De lo contrario la persona responsable asumirá los costos que produzca la cancelación tardía.</li>
      <li>De haberse generado el anticipo y se cancelara el evento, el contratante asumirá una penalidad por valor del 10% en la devolución del dinero.</li>
      <li>Será responsabilidad del organizador, contratante y/o cliente en caso de tener exhibición, muestra comercial, stand, o elementos de decoración, su desmontaje y retiro de las instalaciones del Club inmediatamente al finalizar el evento.</li>
      <li>Será responsabilidad del organizador, contratante y/o cliente cualquier daño o desperfecto que ocurra a las instalaciones de la Corporación Club El Meta y se penalizará con un cargo adicional a la factura por un monto compensatorio.</li>
    </ul>

    <p class="mt-3">Esperamos cumplir con todas sus expectativas y tener la oportunidad de servirles; sus inquietudes o sugerencias las puede comunicar vía correo electrónico o por teléfono según los datos indicados en el pie de página.</p>

    <p class="mt-4">Cordialmente,</p>
  </div>
</div>
{% endblock %}
